<div th:replace="/ViewLayout/header.html"></div>

    
    
    <div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
             <div class="card shadow">
                   <div class="card-header bg-success">
                       <h3 class="text-light">Edit User</h3>
                   </div>
                   <div class="card-body p-4">
                   		<div th:if="${nameError}" class="alert alert-danger">
    						<p th:text="${nameError}"></p>
						</div>
                         <form th:action="@{/Students/{id}(id=${student.get().getId()})}"  th:object="${student}" method="post" id="add-form" enctype="multipart/form-data">
                              <div class="mb-3">
                                <label for="name">Name</label>
                                <input type="text" name="name" th:field="*{name}"  class="form-control form-control-lg" placeholder="Enter name" />                              	
                              	<small id="nameErrorMessage" class="text-danger" style="display: none;">Name must not be blank.</small>                           	
                              </div>
                              <div class="mb-3">
                                <label for="age">Age</label>
                                <input type="number" name="age" th:field="*{age}"  class="form-control form-control-lg" placeholder="Enter age" />
                              	<small id="ageErrorMessage" class="text-danger" style="display: none;">Age must be a positive number.</small>
                              	<small id="ageRequiredErrorMessage" class="text-danger" style="display: none;">Age is required and not equal to 0.</small>
                              	<div th:if="${ageError}" class="alert alert-danger">
    								<p th:text="${ageError}"></p>
								</div>
                              </div>
                              <div class="mb-3">
                                <label for="email">Email</label>
                                <input name="email" th:field="*{email}"  class="form-control form-control-lg" placeholder="Enter email" />                              	
                            	<small id="emailErrorMessage" class="text-danger" style="display: none;">Email is required.</small>
                            	<div th:if="${emailError}" class="alert alert-danger">
    								<p th:text="${emailError}"></p>
								</div>
								
                              </div>
                              <div class="mb-3">
                              <select name="faculty" th:field="*{faculty}" class="form-control form-control-lg" required>
                                    <option th:each="faculty : ${faculties}" th:value="${faculty.facultyId}" th:text="${faculty.facultyName}"></option>
                                </select>
                               </div>
                              
                              <div class="mb-3">
                                <label for="image" class="form-label">Select Image</label>
                               	<input type="file" name="image" class="form-control form-control-lg" id="imageInput" />
                                
                                <div class="mt-2">
                                    <!-- Old Image Preview -->
                                    <label for="oldImage">Old Image</label>
                                    <img th:src="${imageUrl}" width="100" class="img-thumbnail mt-1" id="oldImagePreview">
                                </div>
                             
                                <div class="mt-2">
                                    <!-- New Image Preview -->
                                    <label for="newImage">New Image Preview</label>
                                    <img src="#" alt="New Image Preview" width="100" class="img-thumbnail mt-1" id="newImagePreview" style="display: none;">
                                </div>
                            </div>
                            
                              <div class="mb-3 d-grid">
                                <input type="submit" name="submit" value="update User" class="btn btn-success btn-lg"/>
                              </div>
                         </form>
                   </div>
             </div>
        </div>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      // Get references to the file input and image preview elements
      var imageInput = document.getElementById("imageInput");
      var oldImagePreview = document.getElementById("oldImagePreview");
      var newImagePreview = document.getElementById("newImagePreview");
      
      
      var nameInput = document.getElementById("name");
      var nameErrorMessage = document.getElementById("nameErrorMessage");
      nameInput.addEventListener("input", function() {
    	    var name = nameInput.value;
    	    if (name.trim() === "") {
    	        nameErrorMessage.style.display = "block";
    	    } else {
    	        nameErrorMessage.style.display = "none";
    	    }
    	});
      
      var emailInput = document.getElementById("email");
      var emailErrorMessage = document.getElementById("emailErrorMessage");
      emailInput.addEventListener("input", function() {
    	    var name = emailInput.value;
    	    if (name.trim() === "") {
    	    	emailErrorMessage.style.display = "block";
    	    } else {
    	    	emailErrorMessage.style.display = "none";
    	    }
    	});
      
      var ageInput = document.getElementById("age");
      var ageErrorMessage = document.getElementById("ageErrorMessage");   
      var ageRequiredErrorMessage = document.getElementById("ageRequiredErrorMessage");

      ageInput.addEventListener("input", function() {
          var age = parseInt(ageInput.value);
          if (isNaN(age)) {
              ageErrorMessage.style.display = "block";
              ageRequiredErrorMessage.style.display = "none";
          } else {
              ageErrorMessage.style.display = "none";
              if (age <= 0) {
                  ageRequiredErrorMessage.style.display = "block";
              } else {
                  ageRequiredErrorMessage.style.display = "none";
              }
          }
      });
      
      // Add event listener to the file input
      imageInput.addEventListener("change", function() {
          // Check if a file is selected
          if (imageInput.files && imageInput.files[0]) {
              var reader = new FileReader();
  
              // Set the new image source to the selected file's data URL
              reader.onload = function(e) {
                  newImagePreview.src = e.target.result;
              };
  
              // Read the selected file as a data URL
              reader.readAsDataURL(imageInput.files[0]);
  
              // Show both the new and old image previews
              newImagePreview.style.display = "block";
              oldImagePreview.style.display = "block";
          } else {
              // Hide the new image preview and show the old one if no file is selected
              newImagePreview.style.display = "none";
              oldImagePreview.style.display = "block";
          }
      });
  });
  </script>
  <div th:replace="/ViewLayout/footer.html"></div>
  

