
<div th:replace="/ViewLayout/header.html"></div>

    <div class="container">
        <h1>Create Student</h1>
        <div th:if="${passwordError}" class="alert alert-danger">
    		<p th:text="${passwordError}"></p>
		</div>
		<div th:if="${emailError}" class="alert alert-danger">
    		<p th:text="${emailError}"></p>
		</div>
        <form th:action="@{/Students/addNewStudent}" method="POST" enctype="multipart/form-data"  th:object="${student}">
            <div th:if="${nameError}" class="alert alert-danger">
    			<p th:text="${nameError}"></p>
			</div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}"  required>
            </div>
			<div th:if="${ageError}" class="alert alert-danger">
    			<p th:text="${ageError}"></p>
			</div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" class="form-control" id="age" th:field="*{age}"   required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" id="email" th:field="*{email}"   required>
            </div>
            
			<div class="form-group">
                <label for="faculty">Faculty:</label>
                <select name="faculty" th:field="*{faculty}" class="form-control form-control-lg" required>
                   <option th:each="faculty : ${faculties}" th:value="${faculty.facultyId}" th:text="${faculty.facultyName}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="classes">Class:</label>
                <select name="classes" th:field="*{classes}" class="form-control form-control-lg" required>
                   <option th:each="class : ${classes}" th:value="${class.classId}" th:text="${class.className}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control" id="image" name="image" />
            </div>

            <button type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i> Add Student</button>
        </form>
    </div>
    <!-- Add any additional content or scripts here -->
<div th:replace="/ViewLayout/footer.html"></div>

