<div th:replace="/ViewLayout/header.html"></div>


<div class="container bootstrap snippets bootdey">
    <div class="table-responsive">
    	<!-- PROJECT TABLE -->
    	<table class="table colored-header datatable project-list">
    		<thead>
    			<tr>
    			
    				
                    <th>Member</th>
					    					
                    
    				<th>Date Submited</th>
    				<th>Status</th>
    				
    				<th>Files</th>
    				
    				<th>Point</th>
    				<th>Action</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="submit : ${listSubmited}">
    			    <td><img th:src="@{'/image/getImage/' + ${submit.account.image}}" alt="Avatar" class="avatar img-circle"> <a href="#"><span th:text="${submit.account.displayName}"></span></a></td>   			
    				<td><span th:text="${#temporals.format(submit.dateSubmited, 'dd/MM/yyyy HH:mm')}"></span></td>
    				
    				<td th:if="${submit.status}">
    					<span style="color: green;">ON TIME</span>
    				</td>
    				<td th:if="${!submit.status}">
    					<span style="color: red;">LATE</span>
    				</td>
    				
    				<td>
    					<ul>
							<li th:each="file : ${submit.filePath}">
								<a th:href="@{'/downloadFile/' + ${file}}" th:text="${file}">Download</a>
							</li>
						</ul>
    				</td>
    				
    				<td><span>_/10</span> </td>
    				<td>
	    				<div class="btn-group">
	    					<a class="btn btn-primary" href="#">Give point</a>
	    					<a class="btn btn-info" href="#">See detail</a>
	    				</div>  					 
    				</td>
    			</tr>
    			
    		</tbody>
    	</table>
    	<!-- END PROJECT TABLE -->
    </div>
</div>











<style>
.container bootstrap snippets bootdey {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #555;
  background: #ececec;
  margin-top:20px;
}

.project-list > tbody > tr > td {
  padding: 12px 8px;
}

.project-list > tbody > tr > td .avatar {
  width: 22px;
  border: 1px solid #CCC;
}
</style>






<div th:replace="/ViewLayout/footer.html"></div>
