<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Text Homework</h1>
	<form action="/Homework/textHomework" method="post"
		enctype="multipart/form-data">
		<div class="form-group">
			<label class="mr-2">Upload your file</label>
			<input type="file" name="filePath" multiple="multiple">
		</div>
		<div class="form-group mt-3">
			<button type="submit" class="btn btn-info btn-block">Update</button>
		</div>
	</form>
	<!-- End Highlighted-form -->
</body>
</html>