<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
                                <input type="file" name="image" class="form-control form-control-lg" id="imageInput" />
                            <input type="hidden" name="old_image" value="@{'/image/getImage/' + ${student.image}}"/>

</body>
</html>


<h1>Create Student</h1>
    <form th:action="@{/Students/addNewStudent}" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
		
		<label for="image">Image:</label>
        <input type="file" class="form-control" id="image" name="image" />
		
		
        <button type="submit">Add Student</button>
    </form>
    
    
    
    <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                  </div>
                </div>
              </div>
              
              
              
              
      <div class="col-sm-9">
	      <h4><small>RECENT POSTS</small></h4>
	      <hr>
	      <h2>I Love Food</h2>
	      <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
	      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
	      <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	      <br><br>
	      
	    <!--  <h4><small>RECENT POSTS</small></h4>
	      <hr>
	      <h2>Officially Blogging</h2>
	      <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
	      <h5><span class="label label-success">Lorem</span></h5><br>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	      <hr> -->
	
	      <h4>Leave a Comment:</h4>
	      <form role="form">
	        <div class="form-group">
	          <textarea class="form-control" rows="3" required></textarea>
	        </div>
	        <button type="submit" class="btn btn-success">Submit</button>
	      </form>
	      <br><br>
	      
	      <p><span class="badge">2</span> Comments:</p><br>
	      
	      <div class="row">
	        <div class="col-sm-2 text-center">
	          <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
	        </div>
	        <div class="col-sm-10">
	          <h4>Anja <small>Sep 29, 2015, 9:12 PM</small></h4>
	          <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	          <br>
	        </div>
	        <div class="col-sm-2 text-center">
	          <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
	        </div>
	        <div class="col-sm-10">
	          <h4>John Row <small>Sep 25, 2015, 8:25 PM</small></h4>
	          <p>I am so happy for you man! Finally. I am looking forward to read about your trendy life. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	          <br>
	          <p><span class="badge">1</span> Comment:</p><br>
	          <div class="row">
	            <div class="col-sm-2 text-center">
	              <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
	            </div>
	            <div class="col-xs-10">
	              <h4>Nested Bro <small>Sep 25, 2015, 8:28 PM</small></h4>
	              <p>Me too! WOW!</p>
	              <br>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>        
              
              
              
              
              
              
              
              
              
              

<div th:replace="/ViewLayout/header.html"></div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<div class="container-fluid">
	  <div class="row content">
	    <div class="col-sm-3 sidenav">
    <h4>John's Blog</h4>
    <!-- List of cards -->
    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <ul class="list-group list-group-flush">
            <!-- Card 1 -->
            <li class="list-group-item" th:each="class : ${classes}">
        <div class="card-body">
            <h5 class="card-title" th:text="${class.className}">Class Title</h5>
            <!-- <p class="card-text" th:text="${class.description}">Class Description</p> -->
            <a th:href="'/Teacher/enterClass/' + ${class.classId}" class="btn btn-primary">Enter Class</a>
        </div>
    </li>
            
        </ul>
    </div>
    <!-- End list of cards -->

    <!-- Search form -->
    <div class="input-group mt-3">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>
	
	    <div class="col-sm-9">
    
</div>
	  </div>
	</div>
<div th:replace="/ViewLayout/footer.html"></div>



              
              
              
              
              
              
        <div th:each="cmt : ${listComment}" th:if="${notify.notifyId == cmt.notify.notifyId }" class="comment">
              <button th:if="" class="like-btn" th:data-comment-id="${cmt.commentId}">Like</button>
         </div>
              
              
              
              
              <a th:if="${#lists.contains(checkLikeComment, cmt.commentId)}" th:href="@{'/Comment/likeComment/' + ${cmt.commentId}}"  class="like-btn liked"><i class="fa fa-thumbs-up"></i>Liked 
        		<span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">(</span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}" th:text="${cmt.likeNumber}"></span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">)</span>
        	</a>
            <a th:unless="${#lists.contains(checkLikeComment, cmt.commentId)}" th:href="@{'/Comment/likeComment/' + ${cmt.commentId}}" class="like-btn"><i class="fa fa-thumbs-up"></i>Like 
            	<span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">(</span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}" th:text="${cmt.likeNumber}"></span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">)</span>
            </a>
              
              
              
              
              
              
              <div class="col-sm-2 text-center">
	          <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
	        </div>
	        <div class="col-sm-10">
	          <h4>John Row <small>Sep 25, 2015, 8:25 PM</small></h4>
	          <p>I am so happy for you man! Finally. I am looking forward to read about your trendy life. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	          <br>
	          <p><span class="badge">1</span> Comment:</p><br>
	          <div class="row">
	            <div class="col-sm-2 text-center">
	              <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
	            </div>
	            <div class="col-xs-10">
	              <h4>Nested Bro <small>Sep 25, 2015, 8:28 PM</small></h4>
	              <p>Me too! WOW!</p>
	              <br>
	            </div>
	          </div>
	        </div>
              
              
              