<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
                                <input type="file" name="image" class="form-control form-control-lg" id="imageInput" />
                            <input type="hidden" name="old_image" value="@{'/image/getImage/' + ${student.image}}"/>

</body>
</html>


<h1>Create Student</h1>
    <form th:action="@{/Students/addNewStudent}" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
		
		<label for="image">Image:</label>
        <input type="file" class="form-control" id="image" name="image" />
		
		
        <button type="submit">Add Student</button>
    </form>
    
    
    
    <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                  </div>
                </div>
              </div>
              
              
              
              
      <div class="col-sm-9">
	      <h4><small>RECENT POSTS</small></h4>
	      <hr>
	      <h2>I Love Food</h2>
	      <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
	      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
	      <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	      <br><br>
	      
	    <!--  <h4><small>RECENT POSTS</small></h4>
	      <hr>
	      <h2>Officially Blogging</h2>
	      <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
	      <h5><span class="label label-success">Lorem</span></h5><br>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	      <hr> -->
	
	      <h4>Leave a Comment:</h4>
	      <form role="form">
	        <div class="form-group">
	          <textarea class="form-control" rows="3" required></textarea>
	        </div>
	        <button type="submit" class="btn btn-success">Submit</button>
	      </form>
	      <br><br>
	      
	      <p><span class="badge">2</span> Comments:</p><br>
	      
	      <div class="row">
	        <div class="col-sm-2 text-center">
	          <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
	        </div>
	        <div class="col-sm-10">
	          <h4>Anja <small>Sep 29, 2015, 9:12 PM</small></h4>
	          <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	          <br>
	        </div>
	        <div class="col-sm-2 text-center">
	          <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
	        </div>
	        <div class="col-sm-10">
	          <h4>John Row <small>Sep 25, 2015, 8:25 PM</small></h4>
	          <p>I am so happy for you man! Finally. I am looking forward to read about your trendy life. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	          <br>
	          <p><span class="badge">1</span> Comment:</p><br>
	          <div class="row">
	            <div class="col-sm-2 text-center">
	              <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
	            </div>
	            <div class="col-xs-10">
	              <h4>Nested Bro <small>Sep 25, 2015, 8:28 PM</small></h4>
	              <p>Me too! WOW!</p>
	              <br>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>        
              
              
              
              
              
              
              
              
              
              

<div th:replace="/ViewLayout/header.html"></div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<div class="container-fluid">
	  <div class="row content">
	    <div class="col-sm-3 sidenav">
    <h4>John's Blog</h4>
    <!-- List of cards -->
    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <ul class="list-group list-group-flush">
            <!-- Card 1 -->
            <li class="list-group-item" th:each="class : ${classes}">
        <div class="card-body">
            <h5 class="card-title" th:text="${class.className}">Class Title</h5>
            <!-- <p class="card-text" th:text="${class.description}">Class Description</p> -->
            <a th:href="'/Teacher/enterClass/' + ${class.classId}" class="btn btn-primary">Enter Class</a>
        </div>
    </li>
            
        </ul>
    </div>
    <!-- End list of cards -->

    <!-- Search form -->
    <div class="input-group mt-3">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>
	
	    <div class="col-sm-9">
    
</div>
	  </div>
	</div>
<div th:replace="/ViewLayout/footer.html"></div>



              
              
              
              
              
              
        <div th:each="cmt : ${listComment}" th:if="${notify.notifyId == cmt.notify.notifyId }" class="comment">
              <button th:if="" class="like-btn" th:data-comment-id="${cmt.commentId}">Like</button>
         </div>
              
              
              
              
              <a th:if="${#lists.contains(checkLikeComment, cmt.commentId)}" th:href="@{'/Comment/likeComment/' + ${cmt.commentId}}"  class="like-btn liked"><i class="fa fa-thumbs-up"></i>Liked 
        		<span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">(</span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}" th:text="${cmt.likeNumber}"></span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">)</span>
        	</a>
            <a th:unless="${#lists.contains(checkLikeComment, cmt.commentId)}" th:href="@{'/Comment/likeComment/' + ${cmt.commentId}}" class="like-btn"><i class="fa fa-thumbs-up"></i>Like 
            	<span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">(</span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}" th:text="${cmt.likeNumber}"></span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">)</span>
            </a>
              
              
              
              
              
              
              <div class="col-sm-2 text-center">
	          <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
	        </div>
	        <div class="col-sm-10">
	          <h4>John Row <small>Sep 25, 2015, 8:25 PM</small></h4>
	          <p>I am so happy for you man! Finally. I am looking forward to read about your trendy life. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	          <br>
	          <p><span class="badge">1</span> Comment:</p><br>
	          <div class="row">
	            <div class="col-sm-2 text-center">
	              <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
	            </div>
	            <div class="col-xs-10">
	              <h4>Nested Bro <small>Sep 25, 2015, 8:28 PM</small></h4>
	              <p>Me too! WOW!</p>
	              <br>
	            </div>
	          </div>
	        </div>
	        
	        
	        
	        
	        
<!-- detail post -->	        
<div th:if="${#lists.isEmpty(notifies)}">
		    <!-- Display a message if notifies is null or empty -->
		    <div class="col-md-10">
		        <h1>No notifications available</h1>
		    </div>
		</div>					
        <div th:each="notify : ${notifies}" class="col-md-10">
            <!-- Content on the right side -->
            <h4><small>RECENT POSTS</small></h4>
            <hr>
            <h2><span th:text="${notify.title}"></span></h2>
            <div th:if="${notify.account.accountId == session.loggedInUser.accountId }">
            	<a href="#" class="btn btn-primary" 
       data-toggle="modal" data-target="#updateNotifyModal"
       th:attr="onclick='openUpdateNotifyModal(\'' + ${notify.notifyId} + '\', \'' + ${notify.title} + '\', \'' + ${notify.content} + '\')'">
       Cập nhật thông báo
    </a>
    <a th:attr="onclick='confirmDelete(\'' + ${notify.notifyId} + '\')'" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
            </div>
            
    <script>
    function confirmDelete(notifyId) {
        var result = confirm("Are you sure you want to delete this notify?");
        if (result) {
            // User clicked 'Yes', redirect to the delete URL
            window.location.href = "/Teacher/deleteNoti/" + notifyId;
        } else {
            // User clicked 'No', do nothing
        }
    }
</script>
            <h5><span class="glyphicon glyphicon-time"></span> Post by <span th:text="${notify.account.displayName}"></span>, <span th:text="${notify.dateCreated}"></span>.</h5>
            <h5 th:if="${notify.lastModifed != null}"><span class="glyphicon glyphicon-time"></span>Last modified <span th:text="${notify.lastModifed}"></span></h5>
	      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
	      <span th:text="${notify.content}"></span>
	      <!-- Check if filePath is not empty -->
    		<div th:if="${notify.filePath}">
		        <!-- Display link to file -->
				<a th:href="@{'/downloadFile/' + ${notify.filePath}}" th:text="${notify.filePath}">Download</a>		        <!-- You can modify the link text and URL as needed -->
		    </div>
	      <br><br>
	      <h4>Leave a Comment:</h4>
            <form role="form" action="/Comment/createNotifyComment" method="post">
            <div class="form-group">
	          <input name="notify" th:value="${notify.notifyId}" hidden="true" class="form-control" rows="3" required />
	        </div>
	        <div class="form-group">
	          <textarea name="content" class="form-control" rows="3" required></textarea>
	        </div>
	        <button type="submit" class="btn btn-success">Submit</button>
	      </form>
	      <br><br>
            <p><span class="badge" th:text="${notify.numComment}"></span> Comments:</p><br>
            <div class="row">
    			<div th:each="cmt : ${listComment}" th:if="${notify.notifyId == cmt.notify.notifyId }" class="comment">
    <div class="col-sm-2 text-center">
        <img th:src="@{'/image/getImage/' + ${cmt.account.image}}" class="img-circle" height="65" width="65" alt="Avatar">
    </div>
    <div class="col-sm-10">
        <h4><span th:text="${cmt.account.displayName}"></span> <small><span th:text="${cmt.dateCreated}"></span></small></h4>
        <p class="original-content" th:text="${cmt.content}"></p>
        <textarea class="edit-content" style="display: none;"></textarea>
        <div class="btn-group">	
			<a href="#" th:if="${#lists.contains(checkLikeComment, cmt.commentId)}"
			   th:id="'likeButton_' + ${cmt.commentId}" 
			   th:data-comment-id="${cmt.commentId}"
			   class="like-btn liked" 
			   th:attr="onclick='toggleLike(\'' + ${cmt.commentId} + '\', event)'">
			    <i class="fa fa-thumbs-up"></i>Liked<span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">(</span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}" th:text="${cmt.likeNumber}"></span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">)</span>
			</a>
			<a href="#" th:unless="${#lists.contains(checkLikeComment, cmt.commentId)}"
			   th:id="'likeButton_' + ${cmt.commentId}" 
			   th:data-comment-id="${cmt.commentId}"
			   class="like-btn" 
			   th:attr="onclick='toggleLike(\'' + ${cmt.commentId} + '\', event)'">
			    <i class="fa fa-thumbs-up"></i>Like<span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">(</span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}" th:text="${cmt.likeNumber}"></span><span th:if="${cmt.likeNumber != null or cmt.likeNumber != 0}">)</span>
			</a>

			<script th:inline="javascript">			    
			    function toggleLike(commentId, event) {
			        event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ <a>			        
			        var likeButton = document.getElementById('likeButton_' + commentId);
			        var isLiked = likeButton.classList.contains('liked');			        
			        fetch('/Comment/likeComment/' + commentId, { method: 'GET' })
			        .then(response => {
			            if (!response.ok) {
			                throw new Error('Failed to like/unlike comment');
			            }			            
			            // Thay đổi nút từ Like sang Liked và ngược lại
			            if (isLiked) {
			                likeButton.innerHTML = '<i class="fa fa-thumbs-up"></i>Like';
			                likeButton.classList.remove('liked');
			            } else {
			                likeButton.innerHTML = '<i class="fa fa-thumbs-up"></i>Liked';
			                likeButton.classList.add('liked');
			            }			            
			            console.log('Comment like/unlike successful');
			        })
			        .catch(error => {
			            console.error('Error:', error);
			        });
			    }			
			</script>       	
    		<a th:if="${cmt.account.accountId == session.loggedInUser.accountId}"  th:data-comment-id="${cmt.account.email}" href="#" class="edit-btn">
                <i class="fa fa-pencil"></i> Edit
            </a>
			<a href="#" class="save-btn" style="display: none;" th:data-comment-id="${cmt.commentId}"><i class="fa fa-save"></i> Save</a>
			<a href="#" class="cancel-btn" style="display: none;">Cancel</a>
			
			<a href="#" th:if="${cmt.account.accountId == session.loggedInUser.accountId }" th:attr="onclick='confirmDeleteComment(\'' + ${cmt.commentId} + '\')'" >Delete</a>   	
   			
   			
   			
   			<a href="#" class="reply-btn">Reply</a>
<form th:action="@{/Comment/createReplyComment}" method="post" class="reply-form" style="display: none;">
   	
   	<input name="comment" th:value="${cmt.commentId}" hidden="true" class="form-control" /> 
    <textarea name="content" class="reply-content" rows="3" required></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
$(document).ready(function() {
    $('.reply-btn').click(function(event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ <a>
        
        // Hiển thị form Reply tương ứng
        var $comment = $(this).closest('.comment');
        $comment.find('.reply-form').show();
        
    });

    
});

// Hàm gửi dữ liệu reply comment lên server bằng Ajax
function createReplyComment(content, commentId) {
    $.ajax({
        type: 'POST',
        url: '/Comment/createReplyComment',
        data: { content: content, commentId: commentId },
        success: function(response) {
            // Xử lý sau khi reply comment được tạo thành công (nếu cần)
            console.log('Reply comment created successfully');
            // Có thể làm mới danh sách comment ở đây nếu cần
        },
        error: function(xhr, status, error) {
            // Xử lý lỗi nếu có
            console.error('Error creating reply comment:', error);
        }
    });
}
</script>

    		
    	</div>
        <br>
    </div>
    <div style="padding-left: 100px">
				<!-- <p><span class="badge">1</span> Comment:</p><br> -->	
	          <div th:each="reply : ${listReply}" th:if="${reply.comment.commentId == cmt.commentId}" class="row">	          
	            <div class="col-sm-2 text-center">
	              <img th:src="@{'/image/getImage/' + ${reply.account.image}}" class="img-circle" height="65" width="65" alt="Avatar">
	            </div>
	            <div class="col-xs-10">
	              <h4><span th:text="${reply.account.displayName}"></span> <small><span th:text="${reply.dateCreated}"></span></small></h4>
	              <p><span th:text="${reply.content}"></span></p>
	              <br>
	            </div>
	          </div>
			</div>
</div>
			
	          

<script>
$(document).ready(function() {
    $('.edit-btn').click(function(event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
        // Ẩn nội dung ban đầu và hiển thị textarea để chỉnh sửa
        var $comment = $(this).closest('.comment');
        $comment.find('.original-content').hide();
        $comment.find('.edit-content').show().val($comment.find('.original-content').text().trim());
        $comment.find('.save-btn').show();
        $comment.find('.cancel-btn').show();
    });
	
    $('.cancel-btn').click(function(event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
        var $comment = $(this).closest('.comment');
        $comment.find('.edit-content').hide();   
        $comment.find('.cancel-btn').hide();
        $comment.find('.save-btn').hide();
    });
    
    
    $('.save-btn').click(function(event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
        var $comment = $(this).closest('.comment');
        var commentId = $(this).data('comment-id');
        var updatedContent = $comment.find('.edit-content').val().trim();

        // Gửi yêu cầu cập nhật nội dung bình luận bằng Ajax
        $.ajax({
            type: 'POST',
            url: '/Comment/updateComment/' + commentId,
            data: { content: updatedContent },
            success: function(response) {
                // Xử lý phản hồi từ máy chủ nếu cần
                // Ví dụ: Hiển thị thông báo hoặc làm mới danh sách bình luận
                console.log('Comment updated successfully');
                // Ẩn textarea chỉnh sửa và hiển thị lại nội dung mới
                $comment.find('.edit-content').hide();
                $comment.find('.original-content').text(updatedContent).show();
                // Ẩn nút Save
                $comment.find('.save-btn').hide();
            },
            error: function(xhr, status, error) {
                // Xử lý lỗi nếu cần
                console.error('Error updating comment:', error);
            }
        });
    });
});
</script>




	        
	        
	        
	      </div>
            
        </div>	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
	        
              
              
              